h1 {
  color: #fff;
}
table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black;
}

td,
th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 12px;
  padding-left: 8px;
  color: #808080;
}
thead > tr > th {
  background-color: #36304a;
  padding: 24px;
  padding-left: 8px;
  letter-spacing: 2px;
  font-size: 20px;
}
thead > tr:first-child th {
  color: #fff;
}
tbody {
  background-color: #fff;
}
th:first-child {
  text-align: center;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

tr > td:first-child {
  text-align: center;
}

tr:hover {
  background-color: #808080;
}
tr:hover td {
  color: #fff;
}
